<div class="sticky-alerts"></div>

<nav class="navbar">
  <!-- Navbar brand -->
  <a href="/" class="navbar-brand ml-10 ml-sm-15">
    <img
      src="https://www.jotform.com/resources/assets/logo/jotform-icon-transparent-560x560.png"
      alt="JotForm"
    />
    <span class="pt-5 font-weight-semibold">Podo</span>
    <!-- Navbar text -->
    <span class="navbar-text ml-5">
      <!-- ml-5 = margin-left: 0.5rem (5px) -->
      <span class="badge text-monospace">v1.0</span>
      <!-- text-monospace = font-family shifted to monospace -->
    </span>
  </a>
  <!-- Navbar nav -->
  <ul class="navbar-nav hidden-sm-and-down">
    <!-- ml-auto = margin-left: auto -->
    <li class="nav-item <% if (nav === 'home') { %> active <% } %>">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item <% if (nav === 'commands') { %> active <% } %>">
      <a href="/commands" class="nav-link">Commands</a>
    </li>
  </ul>
  <div class="navbar-content ml-auto">
    <!-- Github button container 1 start -->
    <div class="pt-5 mr-5 d-none d-lg-inline-block">
      <a
        href="http://gitlab.com/bw3u/podo"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="https://img.shields.io/badge/GitLab-AGPL--3.0-blue?url=https://gitlab.com/bw3u/podo&logo=gitlab&style=for-the-badge"
          alt="gitlab-badge"
        />
      </a>
    </div>

    <button
      class="btn btn-action mr-5"
      type="button"
      onclick="halfmoon.toggleDarkMode()"
      aria-label="Toggle dark mode"
    >
      <i class="far fa-moon" aria-hidden="true"></i>
    </button>

    <div class="dropdown with-arrow hidden-md-and-up">
      <button
        class="btn navbar-menu-btn"
        data-toggle="dropdown"
        type="button"
        id="navbar-dropdown-toggle-btn"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="text">Menu</span>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="navbar-dropdown-toggle-btn"
      >
        <a href="/" class="dropdown-item">Home</a>
        <a href="/commands" class="dropdown-item">Commands</a>
        <div class="dropdown-divider"></div>

        <!-- GitLab button container start -->
        <div class="dropdown-content">
          <a
            href="http://gitlab.com/bw3u/podo"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://img.shields.io/badge/GitLab-AGPL--3.0-blue?url=https://gitlab.com/bw3u/podo&logo=gitlab&style=for-the-badge"
              alt="gitlab-badge"
            />
          </a>
        </div>
        <!-- GitLab button container end -->
      </div>
    </div>
  </div>
</nav>
