<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
  </head>
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onload="true"
  >
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
      <%- include('./layout/header'); %>

      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row row-eq-spacing-lg">
            <div class="col-lg-9">
              <div class="content">
                <h1 class="content-title">About</h1>
                <div class="fake-content"></div>
                <div class="fake-content"></div>
              </div>
              <div class="card">
                <h2 class="card-title">Card title</h2>
                <div class="fake-content"></div>
                <div class="fake-content"></div>
                <div class="fake-content"></div>

                <button
                  class="btn btn-primary btn-sm"
                  type="button"
                  onclick="toastAlert()"
                >
                  Toast!
                </button>
              </div>
              <div class="content">
                <div class="fake-content"></div>
                <div class="fake-content w-150"></div>
              </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
              <div class="content">
                <h2 class="content-title font-size-20">On this page</h2>
                <div class="fake-content"></div>
                <div class="fake-content"></div>
                <div class="fake-content"></div>
                <div class="fake-content"></div>
                <div class="fake-content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./layout/footer'); %>
    </div>
  </body>
</html>
