<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
  </head>
  <body>
    <div class="container">You are authorized! Welcome <%= name %>.</div>

    <script>
      const apiKey = '<%= apiKey %>';
      const discordId = '<%= apiKey %>';

      if (!apiKey) {
        window.location.replace(`/oauth/login?discordId=${discordId}`);
      } else {
        window.localStorage.setItem('apiKey', apiKey);
      }
    </script>
  </body>
</html>
