<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
  </head>
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onload="true"
  >
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
      <%- include('./layout/header'); %>

      <div class="content-wrapper">
        <div class="d-flex justify-content-center">
          <div class="w-600 mw-full">
            <div class="card p-0">
              <img
                src="img/podo-2.gif"
                class="img-fluid rounded-top"
                alt="PodoAnimation2"
              />
              <div class="content">
                <div class="text-center">
                  <h2 class="content-title">Success!</h2>
                  <span class="text-muted">
                    Welcome <strong><%= name %></strong>. You are authorized,
                    you should have received a DM from me now! You can close
                    this window 🐱.
                  </span>
                </div>
                <hr />
                <div class="text-center mt-20">
                  <button
                    class="btn btn-success btn-sm"
                    type="button"
                    id="home"
                  >
                    Go Home
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./layout/footer'); %>
      <script>
        const homeButton = document.querySelector('#home');

        homeButton.addEventListener('click', toHome);

        async function toHome() {
          window.location.replace('/');
        }
      </script>
    </div>
  </body>
</html>
