<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
  </head>
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onload="true"
  >
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
      <%- include('./layout/header'); %>

      <div class="content-wrapper">
        <div class="d-flex justify-content-center">
          <div class="w-800 mw-full">
            <div class="card p-0">
              <div class="text-center mt-10">
                <img
                  src="oauth/img/podo_9.png"
                  class="img-fluid rounded"
                  alt="Podo"
                  width="400"
                />
              </div>
              <div class="content">
                <div class="text-center">
                  <h2 class="content-title">
                    <strong>Podo</strong> is the JotForm's Discord Bot.
                  </h2>
                  <span class="text-muted"> Some Features </span>
                </div>
                <ul>
                  <li>
                    Create your forms with Podo via Discord DM's!
                  </li>
                  <li>
                    Track your submissions realtime with channel you specified.
                  </li>
                  <li>
                    You can register to JotForm with Podo if you don't have an
                    account.
                  </li>
                  <li>
                    List your forms, you can delete them as well, if that's what
                    you want. ¯\_(ツ)_/¯
                  </li>
                  <li>
                    Share them to channel you specified with your message.
                  </li>
                </ul>
                <hr />

                <div class="text-center">
                  <span class="text-muted"> Use Cases </span>
                </div>
                <ul>
                  <li class="font-weight-bold">
                    🤨 You have a large community server and you are hosting an
                    event for which you need applications.
                  </li>
                  <li>
                    🐱 Podo can help you create a beautiful form through Discord
                    or create your own application form with over <br />
                    <a
                      href="https://www.jotform.com/form-templates/"
                      target="_blank"
                      >10,000 templates</a
                    >, if you don't like any template, create your own design
                    through our Form Builder!
                  </li>
                </ul>
                <ul>
                  <li class="font-weight-bold">
                    🤨 You are looking for moderators/admins, but you can't you
                    can't keep up with DM's.
                  </li>
                  <li>
                    🐱 You can easily create a form with Podo and can track
                    realtime with
                    <a
                      href="https://www.jotform.com/products/tables/"
                      target="_blank"
                      >JotForm Tables</a
                    >
                    or on Discord as well!
                  </li>
                </ul>
                <ul>
                  <li class="font-weight-bold">
                    🤨 You're a streamer and a great new game is out but you
                    think it's not for your audience, you need <br />
                    their feedback.
                  </li>
                  <li>
                    🐱 Create a survey with a few minutes, tell Podo to share
                    form on specified text channel! See your overall <br />
                    reports with
                    <a
                      href="https://www.jotform.com/products/report-builder/"
                      target="_blank"
                      >Report Builder</a
                    >. You can even create a PDF!
                  </li>
                </ul>
                <ul>
                  <li class="font-weight-bold">
                    🤨 You are an Esports manager and you are getting
                    registrations for your new tournament.
                  </li>
                  <li>
                    🐱 Fire up a new form for team applications, collect
                    submissions via Discord, examine them carefully <br />
                    over
                    <a
                      href="https://www.jotform.com/products/tables/"
                      target="_blank"
                      >JotForm Tables</a
                    >. You can even automate approval process with
                    <a
                      href="https://www.jotform.com/products/approvals/"
                      target="_blank"
                      >JotForm Approvals</a
                    >.
                  </li>
                </ul>
                <hr />
                <div class="text-center mt-20 mb-20">
                  <a
                    href="https://discord.com/oauth2/authorize?response_type=code&client_id=870274258000035901&permissions=8&scope=bot"
                  >
                    <button
                      class="btn btn-success btn-sm"
                      type="button"
                      id="login"
                    >
                      <i class="fab fa-discord" aria-hidden="true"></i>
                      Add to your Discord Server
                    </button>
                  </a>
                  <a href="/commands">
                    <button
                      class="btn btn-primary btn-sm"
                      type="button"
                      id="login"
                    >
                      See available commands
                    </button>
                  </a>
                </div>
                <img
                  src="oauth/img/podo-3.gif"
                  width="800"
                  class="img-fluid rounded mt-20"
                  alt="PodoAnimation3"
                />
              </div>
              <div
                class="px-card py-10 bg-light-lm bg-very-dark-dm rounded-bottom"
              >
                <p class="font-size-12 m-0">
                  * Podo is still under development.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./layout/footer'); %>
    </div>
  </body>
</html>
